<!--
=============================================================================
=============================================================================
                          File name : db.js
                          Author's name :Sai Krishna amaraneni
                          StudentID :301151074
                          App name :favourite book list  
=============================================================================
=============================================================================
 -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
